# Ignore everything
*

# Keep the root .gitignore file
!.gitignore

# Unignore the two main folders
!portfolio-svelte/
!portfolio-wp/

# Ignore everything in portfolio-wp except wp-content
portfolio-wp/*
!portfolio-wp/wp-content/

# Unignore contents
!portfolio-svelte/**
!portfolio-wp/wp-content/**

# Specifically ignore unwanted subfolders in wp-content
portfolio-wp/wp-content/uploads/
portfolio-wp/wp-content/cache/

# System files
.DS_Store
Thumbs.db