# Ignore everything
*

# Keep the root .gitignore file
!.gitignore

# Unignore the two main folders
!portfolio-svelte/
!portfolio-wp/

# Unignore README.md
!README.md

# Ignore everything in portfolio-wp except wp-content, DB_Backups, and db_backup_script.php
portfolio-wp/*
!portfolio-wp/wp-content/
!portfolio-wp/DB_Backups/
!portfolio-wp/db_backup_script.php

# Unignore contents
!portfolio-svelte/**
!portfolio-wp/wp-content/**
!portfolio-wp/DB_Backups/**
!portfolio-wp/wp-content/themes/hello-elementor/**

# Specifically ignore unwanted subfolders in wp-content
portfolio-wp/wp-content/uploads/
portfolio-wp/wp-content/cache/
portfolio-wp/wp-content/themes/hello-elementor/.env
portfolio-wp/wp-content/themes/hello-elementor/vendor/

# System files
.DS_Store
Thumbs.db